.alert__uniqueWord,
.word__unique {
  color: #155724;
}
.alert__duplicatedWord,
.word__duplicated {
  color: #856404;
}

$primary: #3d6889;
$info: #3d6889;
$success: #489a61;
$warning: #c58a29;
$danger: #f44336;

@import "~bootstrap/scss/bootstrap.scss";
